<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if (locals.fileLink) { %>
        <div style="display: flex; justify-content: center; margin-bottom: 1rem;">
            <form method='post' action="<%= locals.fileLink %>">
                Your file is uploaded: &#10240;
                <button type="submit"><%= locals.fileLink %></button>
            </form>
        </div>
    <% } %>
    <form
            action="/upload"
            method="post"
            enctype="multipart/form-data"
            style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto"
    >
        <label for="file">File</label>
        <input type="file" name="file" id="file" required />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

        <button type="submit" style="grid-column: span 2">Share</button>
    </form>
</body>
</html>
